<div class="center">
  <%= will_paginate comments %>
</div>
<% comments.each do |comment| %>
  <%= render(partial: 'comments/comment', object: comment) %>
<% end %>
<div class="center my-4">
  <%= will_paginate comments %>
</div>
