<% if obj.errors.any? %>
  <div class="row mb-3">
    <div class="col-md-8 mx-auto">
      <div class="card text-danger p-2 bgRed">
        <div class="card-heading">
          <h2 class="card-title lead font-weight-bold">
            <%= pluralize(obj.errors.count, "error") %>
            prohibited this <%= obj.class %> from being saved:
          </h2>
          <div class="card-body">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>  
      </div>
    </div>
  </div>
<% end %>