.navbar-default {
    background-color: #073B15;
    color: #fff;
}
.nav-link {
    color: grey;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
    
#logo:hover {
    color: #fff;
    text-decoration: none;
}

.jumbotron {
    background-image: asset-url('cover_image.png');
    background-size: cover;
    background-position: 50% 40%;
    height: 50%;
}

.jumbotron h1 {
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}
  
.jumbotron h2 {
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    background-color: #073B15;
}
  
  
  
  
  