// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.description {
    margin-top: 15px;
}

.card a {
    color: #073B15;
}

.colormatch a {
    color: #073B15;
  }
  
.button {
    margin-left: auto;
}  

.bgRed {
    background-color: rgb(255, 202, 202);
}